<form role="form">
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary form-control" href="http://localhost:43598/api/v1/seed/init" target="_blank">Initialize</a>
            <a class="btn btn-primary form-control" href="http://localhost:43598/api/v1/seed/seed" target="_blank">Seed</a>
            <h2 class="form-login-heading">Login</h2>
            <input type="text" class="form-control" placeholder="Username" ng-model="vm.authDataDto.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" ng-model="vm.authDataDto.password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.authDataDto.useRefreshTokens"><strong> Use Refresh Tokens</strong>
                </label>
            </div>
            <button class="btn btn-md btn-info btn-block" ng-click="vm.login(vm.authDataDto)">Login</button>
            <div ng-hide="vm.message == null" class="alert alert-danger">
                {{vm.message}}
            </div>
        </div>
    </div>
</form>