<div class="col-sm-12">
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>AngularJS Authentication</h1>
                <h2>Enterprise Stack</h2>
            </div>
            <p>AngularJS Application which uses OAuth Bearer Token for authentication and implements Refresh Tokens. The API is built using ASP.NET Web API 2, OWIN middleware, and ASP.NET Identity, Nhibernate and AutoFac.</p>
        </div>
    </div>
</div>
    <div class="col-sm-12">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr>
                    <td></td>
                    <td></td>
                    <td><input class="form-control" type="text" ng-model="vm.newLog.description"/></td>
                    <td><button class="btn btn-primary" ng-click="vm.insert(vm.newLog)">Add</button></td>
                </tr>-->
                <tr ng-repeat="teacher in vm.teachers">
                    <td>{{teacher.id}}</td>
                    <td>{{teacher.fullName}}</td>
                    <td>{{teacher.birthday | date:'medium'}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
