<div class="col-sm-12">
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>AngularJS Authentication</h1>
                <h2>Enterprise Stack</h2>
            </div>
            <p>AngularJS Application which uses OAuth Bearer Token for authentication and implements Refresh Tokens. The API is built using ASP.NET Web API 2, OWIN middleware, and ASP.NET Identity, Nhibernate and AutoFac.</p>
        </div>
    </div>
</div>
    <div class="col-sm-12">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th><button class="btn btn-primary" ng-click="vm.getall()">Refresh</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary" ng-click="vm.save({fullname:'test', birthday:'2016-01-01'})">Add</button></td>
                </tr>
                <tr ng-repeat="student in vm.students">
                    <td>{{student.id}}</td>
                    <td>{{student.fullName}}</td>
                    <td>{{student.birthday | date:'medium'}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
